/* Inicio conteudo barra de navegação */
body {
    background-image: url(../img/1_oyPaDNs0qtB6yCD3HQaQJg.jpeg);
}

.nav_bar {
    background-color: #ff6347;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
    text-align: center;
}

.nav_bar h1 {
    font-family: Gabriola;
    size: 5px;
    text-transform: uppercase;
    width: 130px;
    

}

.nav_bar ul {
    overflow: hidden;
    text-align: center;
    padding-left: 28%;
}

.nav_bar ul a {
    text-decoration: none;
}

.nav_bar ul li a:hover {
    display: block;
    color: white;
}

/* Texto para chamar Atenção */
.text{
    padding-top: 25px;
}

.text_atenc {
    font-size: 38px;
    font-family: sans-serif;
    line-height:;
    color: #fff;
    text-align: center;

}
.text_atenc p{
    font-weight: bold;
    font-size: 40px;
    font-family: cursive;
}

.separador p:after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #FFF;
    margin: 13px auto;
    
}
.separador p:before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 3px;
    background: #FFF;
    margin: 13px auto;
    
}